<h3>Software Knwoledge</h3>
<div class="row mt-5">

    {% for software in site.data.softwares %}
    <div class="col-4 {% if forloop.index0 >= 3 %} mt-5 {%endif%}">
        <p>
            {% if software.custom-icon == false %}
            <i class="{{ software.icon }} fa-4x" aria-hidden="true"></i>
            <span class="sr-only">{{software.name}}</span>
            {% else %}
            <img src="{{ software.icon}}" class="img-fluid" alt="{{ software.name }} " style="max-height: 4em"/>
            {%endif%}
            <br><br>
            <b>{{software.name}}</b><br>
            <span>{{software.label}}</span>
        </p>
    </div>
    
    {%endfor%}
</div>